<%-include("partials/header")%>
<h1>Home</h1>
<p><%=content%></p>

<% blogcontents.forEach(function(blogcontent) { %>     
 <h1><b><%= blogcontent.title %></b></h1>
    <h5><%= blogcontent.post %></h5>
  <% }); %>

<%-include("partials/footer")%>