<%-include("partials/header")%>

  <h1>Home</h1>
<p><%=content%></p>

<% blogcontents.forEach(function(blogcontent) { %>     
 <h1><b><%= blogcontent.title %></b></h1>
    <p><%= blogcontent.post.substring(0,100)+"..."%>
     <a href="/posts/<%=blogcontent.title%>">Read more</a>
    </p>
  <% }); %>


<%-include("partials/footer")%>